:root {
    --background-color: #f3f6f2;
    --text-color: #242424;
}

body {
    margin: 0;
    background-color: var(--background-color);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.page {
    width: min(60%, 1100px);
    margin: 0 auto;
    padding: 1.5rem 1rem 2rem;
}

div a {
    /* Typography */
    color: var(--text-color);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.site-header {
    margin-bottom: 3em;
}

.site-footer {
    margin-top: 3em;
}

/* Header Layout */

.site-header ul {
  display: flex;
  justify-content: flex-start;
  padding: 0px;
  list-style-type: none;
}

.site-header li {
  display: flex;
  justify-content:center;
  text-decoration: none;
  margin: 0 1rem 0 0;
}

.column-container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Site Header Title Style*/

.site-header__title {
    font-weight: bold;
    font-size: x-large;
}

/* Footer */

.site-footer  {
    border-top: 1px solid var(--text-color);
    padding: 1rem 0 0 0;
}

.column-container__footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: start;
}

.column-container__footer > :first-child {
    grid-column: 1 / -1;
}

.site-footer ul {
    display: grid;
    justify-content:flex-start;
    padding: 0;
    list-style-type: none;
}

.site-footer li {
    display: flex;
    justify-content: flex-start;
    margin: 0 1rem 0.5rem 0;
    text-decoration: none;
}

@media (max-width: 600px) {
    .page {
        width: 100%;
        padding: 1rem 1rem 2rem;
    }

    .site-header {
        margin-bottom: 2rem;
    }

    .column-container__header {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .site-header ul {
        flex-direction: flex;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .column-container__footer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        align-items: start;
    }

    .site-footer ul {
        display: grid;
        justify-content:flex-start;
        padding: 0;
        list-style-type: none;
    }

    .site-footer li {
        display: flex;
        justify-content: flex-start;
        margin: 0 1rem 0.5rem 0;
        text-decoration: none;
    }
}

