<!doctype html>
<html lang="ro">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if .Title }}{{ .Title }} – UCCS{{ else }}UCCS – Unde Cuvintele Capătă Sens{{ end }}</title>
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
</head>
<body>
  <header>
    <a href="{{ "" | relURL }}" class="logo">UCCS</a>
      <nav>
        <a href="{{ "polis/" | relURL }}">Polis</a>
        <a href="{{ "agora/" | relURL }}">Agora</a>
        <a href="{{ "educatie/" | relURL }}">Educație</a>
        <a href="{{ "tech/" | relURL }}">Tech</a>
        <a href="{{ "litere/" | relURL }}">Litere</a>
      </nav>
  </header>
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    <p>© UCCS – Unde Cuvintele Capătă Sens</p>
  </footer>
</body>
</html>
